@font-face {
  font-family: "Helvetica-Now";
  src: url("https://static.rolex.com/Fonts/Rolex/HelveticaNow/10d97c98-c7f0-4958-b294-92319d027783.woff2") format("woff2");
}
@font-face {
  font-family: "Rolex";
  src: url("https://static.rolex.com/Fonts/Rolex/RolexFont/2.1/RolexFont-Regular-WebS.woff2") format("woff2");
}

[v-cloak] > * { display:none }
[v-cloak]::before { content: "Compiling…" }

.grid {
	display: grid;
  color: #767676;
  grid-template-columns: 30% 50% 10% 10%;
  grid-auto-flow: column;
  font-family: Open Sans, Helvetica Neue, Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 14px;
}

.grid > div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #d2d2d2;
  border-width: 0 1px 1px 0;
  padding: 20px 10px;
}

.grid.grid-total > div {
  border: 1px solid transparent;
  border-width: 0 1px 1px 0;
}

.total-value {
  align-items: center;
  display: flex;
	font-size: 20px;
	font-weight: bold;
  color: #FFFFFF;
}

.total-value-poor {
  background: #BA1314;
}

.total-value-good {
  background: #1D9464;
}

.total-value-static {
	background: #d2d2d2;  
}

.total-value-title {
  align-items: center;
  display: flex;
	font-size: 14px;
	font-weight: bold;
}

.total-value-title span:first-letter {
    text-transform: uppercase;
}

.total-value-title-poor {
  color: #BA1314;
}

.total-value-title-good {
	color: #1D9464;  
}

.total-value-title-static {
	color: #d2d2d2;  
}


.grid > div:last-of-type {
	border-right-width: 0;
}

.kpi-table {
	margin-bottom: 40px;
  min-width: 800px;
}

.kpi-title {
  color: #333333;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
}

.kpi-line {
  height: 2px;
  background: #c0c0c0;
	position: relative;
  z-index: 10;
}

.kpi-line-range {
  height: 2px;
  background: #767676;
  position: absolute;
  z-index: 11;
}

.kpi-line-selected-range {
  height: 2px;
  background: #ba1314;
	position: absolute;
  z-index: 12;
}


.kpi-point {
  height: 8px;
  width: 8px;
  background: #767676;
  color: #767676;
	position: absolute;
  border-radius: 50%; 
  margin: -3px 0 0 -4px;
  z-index: 20;
}

.kpi-point-first-market {
	height: 20px;
  width: 20px;
  background: #333333;
  color: #333333;
  margin: -9px 0 0 -10px;
  z-index: 15;
}

.kpi-point-second-market {
	background: #ba1314;
  color: #ba1314;
  z-index: 25;
}

.kpi-point-first-market .kpi-point-value {
	top: -18px;
  font-size: 14px;
  line-height: 16px;
}

.kpi-point-value {
  position: absolute;
  right: 50%;
  transform: translate(50%,0);
  top: -12px;
  font-size: 10px;
  line-height: 12px;
  font-weight: bold;
}

._kpi-point-value {
  position: absolute;
  left: 0;
  top: -12px;
  font-size: 10px;
  line-height: 12px;
  font-weight: bold;
}


.kpi-point-title {
  position: absolute;
  right: 50%;
  transform: translate(50%,0);
  bottom: -20px;
  font-size: 12px;
  line-height: 14px;
  font-weight: bold;
  white-space: nowrap;
}

.kpi-point-closest-max-market .kpi-point-title.kpi-point-title-overlap {
  bottom: -32px;
}

.kpi-change {
  align-items: center;
  display: flex;
  font-size: 14px;
	font-weight: bold;
}

.kpi-change-poor {
	color: #ba1314;
}

.kpi-change-good {
	color: #1D9464;
}

.kpi-change-static {
	color: #D2D2D2;
}


.kpi-change-arrow {
	margin-left: 5px;
}

.kpi-change-arrow-poor {
	width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #BA1314;
}

.kpi-change-arrow-good {
	width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid #1D9464;
}

.kpi-change-arrow-static {
	width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid #D2D2D2;
}


.align-items-center {
	align-items: center;
}

.text-selected {
  color: #333333;
  font-weight: bold;
}

/* Selectors */
.selectors {
	padding: 40px 0;
}

.flex {
	display: flex;
}

.justify-content-center {
	justify-content: center;
}

.align-items-center {
	align-items: center;
}

.flex-direction-column {
	flex-direction: column;
}

.mb-40 {
	margin-bottom: 40px;
}

.spin-wrapper .ant-spin {
	position: absolute;
}

.is-loading {
	opacity: 0.6;
}

.loading {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
}

.mock-line {
  background: red;
  height: 40px;
  left: 0;
  position: absolute;
  top: -19px;
	width: 1px;
}

.visibility-hidden {
	visibility: hidden;
}

