<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<!-- <script src="https://unpkg.com/vue@latest"></script> --> 
<script src="https://unpkg.com/mitt/dist/mitt.umd.js"></script>

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://unpkg.com/mitt/dist/mitt.umd.js"></script>
<script src="https://unpkg.com/dayjs/dayjs.min.js"></script>
<script src="https://unpkg.com/dayjs/plugin/customParseFormat.js"></script>
<script src="https://unpkg.com/dayjs/plugin/weekday.js"></script>
<script src="https://unpkg.com/dayjs/plugin/localeData.js"></script>
<script src="https://unpkg.com/dayjs/plugin/weekOfYear.js"></script>
<script src="https://unpkg.com/dayjs/plugin/weekYear.js"></script>
<script src="https://unpkg.com/dayjs/plugin/advancedFormat.js"></script>
<script src="https://cdn.jsdelivr.net/npm/ant-design-vue/dist/antd.min.js"></script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ant-design-vue@3.2.15/dist/antd.min.css">

<div id="app">
  <market-dashboard v-slot="slotProps">
    <div v-if="slotProps.isShowGrid">
      <div class="grid">
        <div>KPI</div>
        <div>
          <div><span class="text-selected">Mexico Performance</span> vs highest and lowest market performance</div>
        </div>
        <div>
          <div>Mexico</div> 
          <div>KPI change</div>
        </div>
        <div>
          <div>Global</div> 
          <div>KPI change</div>
        </div>
      </div>
      <div class="grid">
        <div>
          <div class="kpi-title">Brand awareness: watch category</div>
          <div class="kpi-description">What are the five luxury watch brands that first come to mind? 'Rolex' was the first brand answered.</div>
        </div>
        <div>
          <div class="kpi-line">
            <div class="kpi-line-range" style="left: 10%; right: 26%"></div>
            <div class="kpi-line-selected-range" style="left: 48%; right: 42%"></div>
            <div class="kpi-point kpi-point-min" style="left: 10%;">
              <div class="kpi-point-value">10%</div>
              <div class="kpi-point-title">Greece</div>
            </div>
            <div class="kpi-point kpi-point-global" style="left: 48%;">
              <div class="kpi-point-value">48%</div>
            </div>
            <div class="kpi-point kpi-point-selected" style="left: 58%;">
              <div class="kpi-point-value">58%</div>
            </div>

            <div class="kpi-point kpi-point-max" style="left: 74%;">
              <div class="kpi-point-value">74%</div>
              <div class="kpi-point-title">Argentina</div>
            </div>
          </div>
        </div>
        <div class="align-items-center">
          <div class="kpi-change kpi-change-poor">-18% <div class="kpi-change-arrow kpi-change-arrow-poor"></div></div> 
        </div>
        <div class="align-items-center">
          <div class="kpi-change kpi-change-good">+18% <div class="kpi-change-arrow kpi-change-arrow-good"></div></div> 
        </div>
      </div>
      <!-- Sum -->
      <div class="grid grid-total">
        <div></div>
        <div></div>
        <div class="total-value total-value-poor">-9%</div>
        <div class="total-value total-value-static">+4%</div>
      </div>
      <div class="grid grid-total">
        <div></div>
        <div></div>
        <div class="total-value-title total-value-title-poor">Poor</div>
        <div class="total-value-title total-value-title-static">Static</div>
      </div>
      <template v-for="(dataCategory, index) in slotProps.data" :key="`dataCategory-${index}`">
				<kpi-table 
        	:table-index="index"
          :data="dataCategory"
          :first-year="slotProps.firstYear"
          :second-year="slotProps.secondYear"
          :first-market="slotProps.firstMarket"
          :first-market-kpi-change="slotProps.firstMarketKpiChange"         
          :second-market="slotProps.secondMarket"
          v-slot="slotProps">
          <h2>{{ slotProps.data.category }}</h2>
          <div class="grid">
            <div>KPI</div>
            <div>
              <div>
                <span class="text-selected">{{ slotProps.firstMarket }} and {{ slotProps.secondMarket }} performance</span> vs highest and lowest market performance
              </div>
            </div>
            <div>
              <div>{{ slotProps.firstMarket }}</div> 
              <div>KPI change</div>
            </div>
            <div>
              <div>{{ slotProps.secondMarket }}</div> 
              <div>KPI change</div>
            </div>
          </div>
          <template v-for="(kpi, index) in slotProps.data.kpis" :key="`dataCategory-${index}`">
            <kpi-row
              :table-index="slotProps.tableIndex"       
            	:data="kpi"
              :first-year="slotProps.firstYear"
          		:second-year="slotProps.secondYear"
          		:first-market="slotProps.firstMarket"
              :first-kpi-change="slotProps.firstKpiChange"
              :first-kpi-change-css="slotProps.firstKpiChangeCss"       
              :second-market="slotProps.secondMarket"
              :second-kpi-change="slotProps.secondKpiChange"
              :second-kpi-change-css="slotProps.secondKpiChangeCss"       
              :description="slotProps.description"              
              v-slot="slotProps">
              <div class="grid">
              	<div>
                  <div class="kpi-title">{{ slotProps.data.kpiCategory }}</div>
          				<div class="kpi-description">{{ slotProps.description }}</div>
                </div>
              	<div>
                	<spark-line
                  	:first-market-data="slotProps.firstMarketData"
                    :second-market-data="slotProps.secondMarketData"
                    v-slot="slotProps">
                    {{ slotProps.firstMarketValue }}
                    {{ slotProps.secondMarketValue }}
                    <div class="kpi-line">
                      <div class="kpi-line-range" style="left: 10%; right: 26%"></div>
                      <div class="kpi-line-selected-range" style="left: 48%; right: 42%"></div>
                      <div class="kpi-point kpi-point-min" style="left: 10%;">
                        <div class="kpi-point-value">10%</div>
                        <div class="kpi-point-title">Greece</div>
                      </div>
                      <div class="kpi-point kpi-point-global" style="left: 48%;">
                        <div class="kpi-point-value">48%</div>
                      </div>
                      <div class="kpi-point kpi-point-selected" style="left: 58%;">
                        <div class="kpi-point-value">58%</div>
                      </div>

                      <div class="kpi-point kpi-point-max" style="left: 74%;">
                        <div class="kpi-point-value">74%</div>
                        <div class="kpi-point-title">Argentina</div>
                      </div>
                    </div>
                  </spark-line>
                </div>
                <div class="align-items-center">
          				<div :class="'kpi-change kpi-change-' + slotProps.firstKpiChangeCss">
                    {{ slotProps.firstKpiChange }}% 
                    <div :class="'kpi-change-arrow kpi-change-arrow-' + slotProps.firstKpiChangeCss"></div>
                  </div> 
        				</div>
        				<div class="align-items-center">
          				<div :class="'kpi-change kpi-change-' + slotProps.secondKpiChangeCss">
                    {{ slotProps.secondKpiChange }}% 
                    <div :class="'kpi-change-arrow kpi-change-arrow-' + slotProps.secondKpiChangeCss"></div>
                  </div> 
        				</div>
          		</div>
            </kpi-row>
          </template>
          <!-- Sum -->
          <div class="grid grid-total">
            <div></div>
            <div></div>
            <div :class="'total-value total-value-' + slotProps.firstKpiSumCss">
              {{ slotProps.firstKpiSum }}%
            </div>
            <div :class="'total-value total-value-' + slotProps.secondKpiSumCss">
              {{ slotProps.secondKpiSum }}%
            </div>
          </div>
          <div class="grid grid-total">
            <div></div>
            <div></div>
            <div :class="'total-value-title total-value-title-' + slotProps.firstKpiSumCss"><span>{{ slotProps.firstKpiSumCss }}</span></div>
            <div :class="'total-value-title total-value-title-' + slotProps.secondKpiSumCss"><span>{{ slotProps.secondKpiSumCss }}</span></div>
          </div>
        </kpi-table>
      </template>
    </div>
    <div v-else>
      <a-row>
        <a-col :span="24">
          <div class="spin-wrapper align-items-center flex justify-content-center">
            <a-spin size="large" v-if="slotProps.isLoading"></a-spin>
            Please select the markets and years.
          </div>
        </a-col>
      </a-row>
    </div>
  </market-dashboard>
</div>
